@import "~flexboxgrid"
    
.sr-only
    position: absolute
    left: -10000px
    top: auto
    width: 1px
    height: 1px
    overflow: hidden

#accessibility-examples
    article.examples-group
        section.example
            p
                img
                    max-width: 100%
                    display: block
                span.sub-example-title
                    display: block